name: workflow name

#tylko testy dla main brancha
on:
  push:
    branches: [main]


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:  
          node-version: 16

      - name: install packages
        run: npm install

      - name: run tests
        run: npm test
        

